.about {
  display: flex;
}
.about__left {
  width: 50%;
}
.about__right {
  width: 50%;
}

@media (max-width: 1024px) {
  .about {
    flex-direction: column;
  }

  .about__left,
  .about__right {
    width: 100%;
  }
}
